asgiref
beautifulsoup4
boto3
botocore
Brotli
cffi
crispy-bootstrap5
cssselect2
dj-database-url
Django
django-bootstrap-v5
django-crispy-forms
django-environ
django-formtools
django-redis
django-storages
fontawesomefree
fonttools
gunicorn
html5lib
jmespath
packaging
pillow
pip3-autoremove
psycopg2-binary
pycairo
pycparser
pydyf
pyphen
python-dateutil
python-decouple
redis
s3transfer
setuptools
six
soupsieve
sqlparse
tinycss2
tinyhtml5
typing_extensions
urllib3
weasyprint==59.0
webencodings
whitenoise
zopfli
