{% extends "index.html" %} 
{% load static %} 

{% block title %}
Home | Gifter
{%endblock %} 

{% block content %} 

<div class="text-center mt-4">
  <img
    src="{% static 'images/logo.png' %}"
    alt="Gifter Logo"
    class="img-fluid mx-auto d-block"
    style="max-width: 300px"
  />
</div>

<div class="text-center mt-5">
  <h1 class="mb-3 text-secondary">
    Welcome to <span class="text-primary">Gifter</span>
  </h1>
  <p class="lead text-muted mb-4">
    Your family’s wishlist manager — built to make giving easy.
  </p>

  <div class="d-flex flex-column flex-sm-row justify-content-center gap-3">
    <a href="{% url 'accounts:register' %}" class="btn btn-primary">
      <i class="fa-solid fa-user-plus me-2"></i> Register
    </a>

    <a href="{% url 'accounts:login' %}" class="btn btn-secondary">
      <i class="fa-solid fa-right-to-bracket me-2"></i> Login
    </a>

    <a href="" class="btn btn-danger">
      <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
    </a>

    <a href="" class="btn btn-emphasis">
      <i class="fa-solid fa-user-circle me-2"></i> Profile
    </a>
  </div>
</div>

<div class="card mt-4">
  <div class="card-header">Testing / Navigation</div>
  <div class="card-body">
    <p class="text-muted small mb-3">
      These links are for development so you can jump around without guessing
      URLs.
    </p>

    <a
      href="{% url 'accounts:profile_list' %}"
      class="btn btn-primary w-100 mb-2">
      All Profiles
    </a>



    <a
      href="{% url 'accounts:profile_edit' %}"
      class="btn btn-secondary w-100 mb-2"
    >
      Edit My Profile
    </a>

    <a
      href="{% url 'accounts:password_change' %}"
      class="btn btn-secondary w-100"
    >
      Change My Password
    </a>
  </div>
</div>

{% endblock %}
